<div class="bg-[rgba(61,220,235,0.2)]">
  <div class="bg-light-black py-20 desktop:py-24 desktop:rounded-tr-[300px]">
    <section class="container flex flex-col gap-6 text-white">
      <h2 class="tracking-wide text-center">{{ .title }}</h2>

      <div class="grid grid-cols-1 desktop:grid-cols-3 flex-wrap px-4 desktop:px-0 gap-8 mt-8">
        {{ range .partners }}
          <div class="partner-card">
            <figure class="partner-image">
              {{ if hasPrefix .logo "/" }}
                {{ with resources.Get (substr .logo 1) }}
                  {{ partial "tools/rimg/img" (dict "img" . "alt" $.name) }}
                {{ else }}
                  <img src="{{ .logo }}" alt="Logo {{ .name }}" />
                {{ end }}
              {{ else }}
                {{ with resources.Get .logo }}
                  {{ partial "tools/rimg/img" (dict "img" . "alt" $.name) }}
                {{ else }}
                  <img src="{{ .logo }}" alt="Logo {{ .name }}" />
                {{ end }}
              {{ end }}
            </figure>
            <section>
              <div class="content">
                <h3>{{ .name }}</h3>
                <p>{{ .description }}</p>
              </div>
              <nav>
                <a class="cta external inverse" href="{{ .url }}" target="_blank">
                  Bezoek site
                </a>
              </nav>
            </section>
          </div>
        {{ end }}
      </div>
    </section>
  </div>
</div>
