# Environment variables
.env

# VS Code config
.vscode

# Mac system files
.DS_Store

# Generated web files
public
resources
out
dist
admin/new-cms

# Package dependencies
node_modules/
/npm-debug.log
