{
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template",
        "bracketSameLine": true,
        "bracketSpacing": true,
        "goTemplateBracketSpacing": true
      }
    },
    {
      "files": ["*.js", "*.mjs", "*.ts"],
      "options": {
        "printWidth": 120,
        "singleQuote": true
      }
    }
  ],
  "plugins": ["prettier-plugin-go-template"]
}
