{{ define "main" }}
  {{ $extraClass := "default pt-32 bg-light-black" }}
  {{ if .Params.image }}
    {{ $extraClass = "has-image" }}
  {{ end }}


  <section class="pt-32 bg-light-black">
    {{ partial "breadcrumbs" . }}


    <main class="container desktop:mt-10">
      {{ if .Params.image }}
        <figure
          class="[&_img]:h-[520px] [&_img]:w-full [&_img]:object-cover desktop:[&_img]:rounded-tl-divd-sm desktop:[&_img]:rounded-tr-divd-lg">
          {{ with resources.Get .Params.image }}
            {{ partial "tools/rimg/img" (dict "img" .) }}
          {{ end }}
        </figure>
      {{ end }}


      <section
        class="flex flex-col desktop:flex-row py-12 break-words px-[30px] desktop:px-[50px] bg-white">
        <article
          class="bg-white [&_ul]:pl-5 [&_li]:list-disc [&_li]:leading-8 [&_h2]:font-body [&_h2]:text-[32px] [&_h2]:uppercase [&_h2]:leading-[3rem] [&_h2]:mt-8 [&_p]:text-body">
          <h1 class="text-heading-2">{{ .Title }}</h1>
          {{ .Content }}
        </article>

        {{ partial "components/case-researchers-widget/case-researchers-widget" . }}
      </section>
    </main>
  </section>
{{ end }}
