{{ define "main" }}
{{ $extraClass := "default pt-32 bg-light-black" }}
{{ if .Params.image }}
{{ $extraClass = "has-image" }}
{{ end }}


<section class="pt-32 bg-light-black">
  {{ partial "breadcrumbs" . }}


  <main class="container mt-10">
    {{ if .Params.image }}
    <figure
      class="[&_img]:h-[520px] [&_img]:w-full [&_img]:object-cover [&_img]:rounded-tl-[20px] [&_img]:rounded-tr-[300px]">
      {{ with resources.Get .Params.image }}
      {{ partial "tools/rimg/img" (dict "img" .) }}
      {{ end }}
    </figure>
    {{ end }}


    <div class="article-body bg-white">
      <article class="bg-white">
        <h1 class="text-heading-2 font-heading">{{ .Title }}</h1>
        {{ .Content }}
      </article>

      {{ partial "components/case-researchers-widget/case-researchers-widget.html" . }}
    </div>
    <!-- Check if the FAQ is required as per the setting in the CMS -->
    {{ if and (isset .Params "faq_enabled") (.Params.faq_enabled) }}
    <div class="article-faq bg-white">
      {{ partial "block/faq" . }}
    </div>
    {{ end }}
  </main>
</section>
{{ end }}