{{ define "main" }}
  {{ $extraClass := "default pt-32 bg-light-black" }}
  {{ if .Params.image }}
    {{ $extraClass = "has-image" }}
  {{ end }}


  <section class="pt-32 bg-light-black">
    {{ partial "breadcrumbs" . }}


    <main class="container bg-white">
      {{ if .Params.image }}
        {{ with resources.Get .Params.image }}
          {{ partial "tools/rimg/img" (dict "img" .) }}
        {{ end }}
      {{ end }}


    <div class="article-body">
      <article>
        <h1>{{ .Title }}</h1>

        {{ .Content }}
      </article>
      {{ partial "components/case-researchers-widget/case-researchers-widget.html" . }}
    </div>
    </main>
  </section>
{{ end }}
