* {
  box-sizing: border-box;
}

:root {
  --fg: #000;
  --bg: #fff;
  --brand: #ffd736;

  --font-header: "Comic Sans MS", "Comic Sans", cursive;
  --font-text: "Comic Sans MS", "Comic Sans", cursive;

  --cw: calc(min(100vw, 1200px));
  --rest: calc((100vw - var(--cw)) / 2);
  --nav-height: 128px;
}

@media (max-width: 640px) {
  :root {
    --nav-height: 70px;
  }
}

[data-theme="dark"] {
  --fg: #fff;
  --bg: #000;
}

select {
  font-size: 24px;
}

a {
  color: var(--fg);
  text-decoration: none;
  border-bottom: 1px solid var(--fg);
}
