<section class="container p-10 desktop:p-20 pr-0 desktop:pr-0 mr-0">
    <h2 class="text-6xl font-bold text-left max-w-lg">{{ .title }}</h2>
    <p class="text-xl text-left text-gray-600 max-w-lg">{{ .description }}</p>
    <div class="flex flex-row gap-2 snap-x snap-mandatory scroll-smooth overflow-scroll">
        {{ range .cards }}
            <article class="flex-shrink-0 w-[360px] rounded-xl shadow-lg">
                <img src="{{ .image }}" alt="{{ .title }}" class="">
                <div class="bg-black rounded-b-xl p-6 h-[188px]">
                    <h3 class="text-2xl text-white truncate">{{ .title }}</h3>
                    <p class="text-[1rem] text-white line-clamp-4">{{ .description }}</p>
                </div>
            </article>
        {{ end }}
    </div>
</section>