<aside class="flex-none w-[330px] h-fit bg-light-gray rounded-divd-sm">
  <section
    class="flex flex-col p-5 [&_h4]:font-semibold [&_h4]:text-[20px] [&_h4]:mb-1">
    {{ with .Params.case }}
      {{ if .lead }}
        <article>
          <h4>Case lead</h4>
          <ul>
            {{ if .leadlink }}
              <li><a href="{{ .leadlink }}">{{ .lead }}</a></li>
            {{ else }}
              <li>{{ .lead }}</li>
            {{ end }}
          </ul>
        </article>
      {{ end }}

      {{ if or (isset . "researchers") (isset . "researchers_people") }}
        <article>
          <h4>Researchers</h4>
          <ul>
            {{ if .researchers_people }}
              {{ range .researchers_people }}
                {{ $peoplePage := site.GetPage "page" . }}
                <li>
                  <a href="{{ $peoplePage.Permalink }}"
                    >{{ $peoplePage.Title }}</a
                  >
                </li>
              {{ end }}
            {{ end }}
            {{ range .researchers }}
              {{ if .link }}
                <li>{{ .label }}</li>
              {{ else }}
                <li><a href="{{ .link }}">{{ .label }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </article>
      {{ end }}

      {{ if .link }}
        {{ partial "components/button/button.html" .link }}
      {{ end }}

    {{ end }}
  </section>
</aside>
