:root {
  --divd-yellow: #ffd736;
}

.make-links-inside-divd-yellow {
  a {
    color: var(--divd-yellow);
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
